body{
        margin: 0;
        padding 0;
}
.back {
        background-image: url(背景.png);
        background-size: cover;
        min-width: 100vw;
        min-height:  100vh;
        position: absolute;
        /* display: block;
        margin-left: auto;
        margin-right: auto; */
    }

    .rogo {
        width: 250px;
        height: auto;
        position: relative;
        top: 140px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .start {
        width: 150px;
        height: auto;
        position: relative;
        top: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    img.start:active {
        position: relative;
        top: 255px;
    }
