body{
        margin: 0;
        padding 0;
}
    .sample_box1 {
        border: solid 2px #000000;
        height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
  max-width: 100%;
        /*線*/
    }

    .back{
        background-image: url(背景.png);
        
  margin: 0 auto;
  width: 100%;
  height: auto;
  
    }

    .rogo {
        width: 250px;
        height: auto;
        position: relative;
        top: 140px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .start {
        width: 150px;
        height: auto;
        position: relative;
        top: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    img.start:active {
        position: relative;
        top: 255px;
    }
